@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url("fonts/HelveticaNeueLTPro-Roman.eot");
    src: url("fonts/HelveticaNeueLTPro-Roman.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueLTPro-Roman.woff2") format("woff2"), url("fonts/HelveticaNeueLTPro-Roman.woff") format("woff"), url("fonts/HelveticaNeueLTPro-Roman.ttf") format("truetype"), url("fonts/HelveticaNeueLTPro-Roman.svg#HelveticaNeueLTPro-Roman") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url("fonts/HelveticaNeueLTPro-Lt.eot");
    src: url("fonts/HelveticaNeueLTPro-Lt.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueLTPro-Lt.woff2") format("woff2"), url("fonts/HelveticaNeueLTPro-Lt.woff") format("woff"), url("fonts/HelveticaNeueLTPro-Lt.ttf") format("truetype"), url("fonts/HelveticaNeueLTPro-Lt.svg#HelveticaNeueLTPro-Lt") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url("fonts/HelveticaNeueLTPro-Bd.eot");
    src: url("fonts/HelveticaNeueLTPro-Bd.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueLTPro-Bd.woff2") format("woff2"), url("fonts/HelveticaNeueLTPro-Bd.woff") format("woff"), url("fonts/HelveticaNeueLTPro-Bd.ttf") format("truetype"), url("fonts/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd") format("svg");
    font-weight: bold;
    font-style: normal;
}