<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a asp-controller="Main" asp-action="Index"><img src="~/assets/main/kumiko.png" alt="Kumiko" class="img-responsive" /></a>
            </div>
            <div class="col-md-10">
                <div id="kumiko"></div>
            </div>
        </div>        
    </div>
</section>